@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*********** <Reset CSS> ***********/
* ::before, ::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

/*********** </Reset CSS> ***********/

/*********** <Globals Parameter> ***********/
:root {
    --main-bg-color: #191919;
    --main-text-primary: #00FF97;
    --main-secondary-text: #8A8A8A;
}

.dark {
    background-color: var(--main-bg-color);
    color: rgb(156 163 175);
}

.text-green {
    color: var(--main-text-primary);
}

/*********** </Globals Parameter> ***********/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*********** <Affichage des jours> ***********/
#current-day {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#current-day li {
    list-style: none;
    display: inline-block;
}

#current-day li span {
    position: relative;
    color: #414141;
    font-size: 1.3rem;
    font-weight: 400;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding: 14px 30px;
    text-transform: uppercase;
}

/*********** </Affichage des jours> ***********/

/*********** <Affichage de l'heure> ***********/
#time {
    margin: 0;
    padding: 0;
}

#time-hours {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12em;
    height: 230px;
    color: var(--main-text-primary);
}

#time-hours div::after {
    content: ':';
}

#time-hours div:last-child::after {
    content: '';
}

.error {
    color: #DC134C;
    font-size: 1.6rem;
    padding: 200px;
}

/*********** </Affichage de l'heure> ***********/

/*********** <Format de l'affichage> ***********/
#time-format {
    display: flex;
    justify-content: space-evenly;
}

#time-format .long, .short {
    font-size: 1.3em;
    margin-top: -50px;
}

.active {
    color: var(--main-text-primary);
}

#time-format a {
    font-size: 1.3em;
}

#time-format a:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--main-text-primary);
    transition: 0.7s all;
}

#time-format a:hover::before {
    content: '';
    transition: 0.7s all;
    padding-right: 6px;
    border-left: 3px solid var(--main-text-primary);
    margin-left: -4px;
}


/*********** </Format de l'affichage> ***********/
